body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #27282c;
  color: #ffffff;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

button {
  padding: 10px 20px; 
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 6px;
}

input {
  font-size: 20px; 
  padding: 5px;
  border-radius: 5px; 
}

#outputText {
  font-size: 30px;
  line-height: 1.5;
  margin-top: 20px;
}

.watermark {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5; 
}
