/* styles.css */

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #27282c;
    color: #ffffff;
    overflow-y: auto; /* Enable vertical scrolling */
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 90px;
    margin-bottom: 30px; /* Adjust the margin-bottom to increase spacing */
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

h1 .green-text {
    color: #28a745; /* Green color for "24" */
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
}

input[type="number"] {
    width: 80px;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #ecf0f1;
    color: #2c3e50;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.results {
    width: 100%;
    margin-top: 20px;
    text-align: left; /* Align text to the left */
}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

#solutionList {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Change 3 to 7 for seven columns */
  grid-auto-rows: minmax(30px, auto);
  gap: 10px;
  justify-items: center;
}


.solution {
    background-color: transparent; /* Remove white container */
    border: none; /* Remove border */
    padding: 10px 15px;
    margin: 5px;
    text-align: center;
    color: #ffffff; /* Ensure text color is readable */
    font-family: Georgia, serif; /* Set Georgia serif font */
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #27282c;
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
}

.center {
    width: 180px;
    height: 60px;
    position: relative;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #9aff91;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #9aff91;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #2bb148;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}
